.contactUs {
  /* background: linear-gradient(35deg,#E5A663,#FAEE9E,#E5A663); */
  padding:  80px 100px 100px 100px;  
  display: flex;
  justify-content: center;
}
.top {
    padding: 25px 0px 0px 25px;
}
.main {
    display: flex;
}
.leftInContactUs {
    padding: 100px 40px;
    width: 50%;
    float: left;
}
.leftInContactUs h1 {
    padding: 0px;
}
.rightInContactUs {
    padding: 0px 100px 100px 100px;
    width: 50%;
    float: right;
}
.contactMinions {
    background-image: url('../minGuitar.png');
    background-size: 400px;
    width: 400px;
    height: 380px;
    background-repeat: no-repeat;
    position: fixed;
    top: 100px;
    left: 200px;
    margin-left: 60px;
    z-index: -1;
}
.minionSmall {
    background-image: url('../min.png');
    background-size: 300px;
    width: 300px;
    height: 180px;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 80px;  
}
.mainContainer {
  display: "flex" ;
  align-items:center;
  flex-direction:column;
  height:70vh;
  width:70vw;
  background: linear-gradient(
      120deg,
      rgba(255, 255, 255, .25),
      rgba(255, 255, 255, .25), 70%, 
      rgba(255, 255, 255, .25)
    );
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow:
  inset 4px 4px 5px 0 rgba(255, 255, 255, .25),
  inset -4px -4px 5px 0 rgba(0, 0, 0, 0.125),
  0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px) saturate(100%);
}
/* backdrop-filter: blur(15px) saturate(100%); */

form {
    background: rgba(255, 255, 255, 0);
    padding: 3em;
    height: 420px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    /* -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px); */
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  form p {
    font-weight: 500;
    /* color: #fff; */
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  form a {
    text-decoration: none;
    /* color: #ddd; */
    font-size: 12px;
  }
  form a:hover {
    text-shadow: 2px 2px 6px #00000040;
  }
  form a:active {
    text-shadow: none;
  }
  form input {
    background: transparent;
    height: 25px;
    padding: 1em;
    /* margin-bottom: 2em; */
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    /* color: #fff; */
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  form input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  form input[type="email"]:focus, form input[type="password"]:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  form input[type="button"] {
    margin-top: 40px;
    width: 150px;
    height: 65px;
    font-size: 1.25rem;
  }
  form input[type="button"]:hover {
    cursor: pointer;
  }
  form input[type="button"]:active {
    background: rgba(255, 255, 255, 0.2);
  }
  form:hover {
    margin: 4px;
  }
  ::-webkit-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    /* color: #fff; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  ::-moz-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    /* color: #fff; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  :-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    /* color: #fff; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  ::-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    /* color: #fff; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 20px;
    /* color: #fff; */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
  }
  .drop {
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
  }
  .drop-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
  }
  .drop-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
  }
  .drop-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
  }
  .drop-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
  }
  a,
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
@media screen and (min-device-width:768px) and (max-device-width: 1324px) {
  .main {
    flex-direction: column;
  }
  .leftInContactUs {
    width: auto;
  }
  .mainContainer {
    height: auto;
  }
  form {
    width: 400px;
  }
  .rightInContactUs {
    padding: 0px 100px 40px 150px;
  }
}
@media screen and (max-device-width: 767px) {
   .main {
    flex-direction: column;
  }
  .top {
    padding: 0px;
  }
  .contactUs {
    padding-left: 20px;
    padding-right: 20px;
  }
  .leftInContactUs {
    width: auto;
    padding: 0px 20px;
  }
  .mainContainer {
    background: none;
    height: auto;
    border: none;
    box-shadow: none;
  }
   .contactMinions {
    display: none;
  }
  .minionSmall {
    position: absolute;
    background-size: 250px;
    width: 160px;
    left: 50px;
    top: 50px;
    z-index: -1;
  }
  .rightInContactUs {
    padding: 20px 10px;
  }
  form {
   width: 300px;
  }
  .drop-4 {
    right: -30px;
  }
  .drop-5 {
    left: 10px;
  }
}
@media screen and (max-device-width: 380px ) {
  form {
    width: 250px;
    padding: 20px;
   }
}

