.App {
  background: linear-gradient(35deg,#E5A663,#FAEE9E,#E5A663);
  background-size: 100%;
}
  h1 {
    padding: 20px;
  }
.header {
  display: flex;
  justify-content: space-between;
}
.headerRight {
    display: flex;
  }
.image {
  justify-content: center;
}